body 
{
    color:greenyellow;
    text-align: center;
    font-family: "Arial";
    font-size: 16px; 
}
#cabecera 
 background: blue;
 color: white; 
 front-weight: "bold"; 
 margin: 0; 
 padding: 0.5em; 

{
 width: 70%;
 padding: 1em;
 text-align: left;
 border: 1px solid red;
 margin: 0 auto;

}
#container h1
{
     front-size: 20xp;
}